<template>
  <header class="sticky z-10 top-0 right-0 left-0 h-10 flex items-center bg-red-500 border-b border-yellow-200" v-bind="$attrs">
    <div class="flex flex-grow items-center">
      <img alt="pokeball" src="./../assets/img/pokeball.png" class="w-8" />
      <div class="mr-1">
        <button class="bg-red-500 hover:bg-red-700 text-yellow-300 text-base font-medium text-center py-0 px-1 rounded" @click="goToHome">
          Pokédex
        </button>
      </div>
      <div class="flex items-center space-x-1 mx-auto">
      </div>
    </div>
  </header>
</template>

<script>
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'

export default defineComponent({
    name: 'navbar',
    setup(){
      const router = useRouter()
      const goToHome = function(){
        router.push({
            name: 'home',
        })
      }
      return{
        goToHome,
      }
    }
})
</script>